<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Confirmation de l'inscription pour  {{ contact }}</h1>
    <p>Email: admin@appRecette.com </p>
    <p>Sujet: Confirmation de l'inscription</p>
    <p>Nous vous envoyons cette email pour vous remercier de vous inscrire sur notre application du site AppRecette</p>
    
    <p>Et nous vous souhaitons une experience agréable en employant ce site.</p>
</body>
</html>