{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container my-5 w-50">
    <h1>Modification de Profile </h1>
    {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                 {{ message }}
            </div>
    {% endfor %}
    {{ form(form) }}
</div>
    
{% endblock %}
