<!DOCTYPE html>
<html lang = 'fr'>
    <head>   
        <meta charset="UTF-8">
        <meta name="viewport" content= "width=device-width, initial-scale=1.0">
        <title>{% block title %}Bienvenu sur AppRecette !{% endblock %}</title>
        {% block metades %}
             <meta name="description" content="une application qui vous permet de créer des recettes à base d'ingrédients que vous aurez vous-même créer. Vous pourrez partager votres recettes à la communité du site , ou bien les garder en privée">
        {% endblock %}
       
        <meta name="google-site-verification" content="ZurXNfQBRYSVuQzzj5KD0crB9dX-7Fb-cMGWIQQXOxk" />
        <meta property="og:locale" content="fr">
        <meta property="og:site_name" content="apprecette">
        <meta name="keywords" content="recettes, cuisine, recette, recettes de cuisine, chinois, français, partager,gastronomie">
        <meta name="classification" content=" recettes collectionner et partager">
        <meta property="og:title" content="Recettes chinois et français collectionnés et partagés">
        <meta property="og:image" content="https://apprecette-symfony.herokuapp.com/images/bannier.jpg">
        <link rel="icon" type="image/x-icon" href="https://myrecette.s3.eu-west-3.amazonaws.com/favicon.ico" >
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
         
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.css">
            <link rel="stylesheet" href="https://bootswatch.com/5/lumen/_variables.scss">
            <link rel="stylesheet" href="https://bootswatch.com/5/lumen/_bootswatch.scss">
            <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
        {% endblock %}

        
    </head>
    <body>
        {% block header %}
            {% include "partials/_header.html.twig" %}
        {% endblock %}
        {% block body %}
           
        {% endblock %}
        {% block footer %}
            {% include "partials/_footer.html.twig" %}
        {% endblock %}

         {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://tarteaucitron.io/load.js?domain=localhost&uuid=516e53c16422bcf58543e95d53cb700780413d34"></script>
     <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RFZWBNPBF0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-RFZWBNPBF0');
    </script>
        <script src="https://kit.fontawesome.com/d05a431670.js" crossorigin="anonymous"></script>
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" 
            crossorigin="anonymous">
        </script>
        
        
    {% endblock %}
    </body>
   
</html>
