{% extends "base.html.twig" %}
{% block metades %}
    <meta name="description" content="mentions légales pour l'appRecette">
    
{% endblock %}
{% block title %}
    Mentions légales
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-warning py-4">Mentions Légales</h1>
        <p>Les mentions légales obligatoires du site internet <a href="https://apprecette-symfony.herokuapp.com/">https://apprecette-symfony.herokuapp.com/</a> sont indiquées sur cette page conformément à la  loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique (LCEN).</p>
        <h2>Raison Sociale</h2>
        <p>Weijiang Yang</p>
        <h2>URL</h2>
        <p>https://apprecette-symfony.herokuapp.com/</p>
        <h2>Adresse de courrier électronique </h2>
        <p>weijiangyang@laposte.net</p>
        <h2>Numéro de téléphone</h2>
        <p>00330650672039</p>
        <h2>La responsable de la publication</h2>
        <p>Weijiang Yang</p>
        <h2>Hébergeur</h2>
        <p>Heroku.com</p>
        <p>Heroku fait partie de la famille Salesforce, le bureau Heroku est situé dans le bâtiment Salesforce West au centre-ville de San Francisco</p>
        <p>SALESFORCE 415 Mission Street Suite 300 San Francisco, CA94105</p>
      </div>
{% endblock %}