{% extends "base.html.twig" %}
{% block metades %}
    <meta name="description" content="politiques de confidentialité pour l'appRecette">
    
{% endblock %}
{% block title %}
   mode emploi
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-warning py-4">Comment utiliser ce site</h1>
        <p class="mb-4">Les étapes principales pour  utiliser ce site :</p>
        <ol>
            <li class="mb-4">En tant qu’un visiteur, vous pouvez accéder au page d’accueil et consulter les détails des recettes les plus récentes et celles avec la meilleure note.</li>
            <li class="mb-4">Vous pouvez contacter avec l'administration du site en cliquant le bouton "Contact" sur le bar de la navigation en haut.</li>
            <li class="mb-4">Pour créer vos propres recettes , les partager et consulter les recettes publiques crées par d’autres personnes, il faut vous inscrire sur ce site.</li>
            <li class="mb-4">Et puis vous pouvez vous connecter sur ce site.</li>
            <li class="mb-4">En cliquant le button "Mes ingrédients" sur le bar de menu en haut, vous pouvez acceder au page pour créer votre propre librairie d'ingrédients, et éditer ou supprimer votres ingrédients. Vous pouvez mettre des images , des liens pour créer ou éditer votres ingrédients.  </li>
            <li class="mb-4">En cliquant le button "Mes recettes" sur le bar de menu en haut, vous pouvez acceder au page pour créer votre propres recettes, et les éditer ou supprimer. Vous pouvez mettre des images , des liens pour créer ou éditer votres recettes. </li>
            <li class="mb-4">Vous pouvez choisir 'publique' ou 'privée' pour votre recettes . Vous pouvez partager vos recettes publiques dan la communauté selon leurs catégories.</li>
            <li class="mb-4">Vous pouvez consulter tous les recettes publiques dans la communité de recettes selon leurs catégories .</li>
            <li class="mb-4">Vous pouvez donner la note aux recettes publiques des autres , et envoyer vôtres commentaires pour des recettes dans la communauté.</li>
            <li class="mb-4">Vous pouvez éditer votre profil sur ce site en mettant votre photo, des descriptions en texte ou des liens d’après votre choix.</li>
        </ol>
        
    </div>
{% endblock %}