{% extends "base.html.twig" %}
{% block metades %}
    <meta name="description" content="politiques de confidentialité pour l'appRecette">
    
{% endblock %}
{% block title %}
    Politiques de confidentialité
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-warning py-4">POLITIQUES DE CONFIDENTIALITÉ </h1>
        <h2 class="text-primary">QUI SOMMES-NOUS ?</h2>
        <p>L’adresse de notre site Web est : http://apprecette-symfony.herokuapp.com/</p>
        <h2 class="text-primary">UTILISATION DES DONNÉES PERSONNELLES COLLECTÉES</h2>
        <h3>Médias</h3>
        <p>Si vous êtes un utilisateur ou une utilisatrice enregistré·e et que vous téléversez des images sur le site web, nous vous conseillons d’éviter de téléverser des images contenant des données EXIF de coordonnées GPS. Les visiteurs de votre site web peuvent télécharger et extraire des données de localisation depuis ces images.</p>
        
        <h3>Contenu embarqué depuis d’autres sites</h3>
        <p>Les articles de ce site peuvent inclure des contenus intégrés (par exemple des vidéos, images, articles…). Le contenu intégré depuis d’autres sites se comporte de la même manière que si le visiteur se rendait sur cet autre site.</p>
        <p>Ces sites web pourraient collecter des données sur vous, utiliser des cookies, embarquer des outils de suivis tiers, suivre vos interactions avec ces contenus embarqués si vous disposez d’un compte connecté sur leur site web.</p>
        <h2 class="text-primary">LES DROITS QUE VOUS AVEZ SUR VOS DONNÉES</h2>
        <p>Si vous avez un compte ou si vous avez laissé des commentaires sur le site, vous pouvez demander à recevoir un fichier contenant toutes les données personnelles que nous possédons à votre sujet, incluant celles que vous nous avez fournies. Vous pouvez également demander la suppression des données personnelles vous concernant. Cela ne prend pas en compte les données stockées à des fins administratives, légales ou pour des raisons de sécurité.</p>
        <h2 class="text-primary">TRANSMISSION DE VOS DONNÉES PERSONNELLES</h2>
        <p>Les commentaires des visiteurs peuvent être vérifiés à l’aide d’un service automatisé de détection des commentaires indésirables.</p>
    </div>
{% endblock %}